<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="register">
    <form action="/addlogin" name="loginfrom" accept-charset="utf-8" method="post">
        <label class="label-tips" for="u">username:</label>
        <input type="text" id="u" name="username" class="inputstyle"/>
        <div>
            <label class="lable-tips" for="password">password:</label>
            <input type="password" id="password" name="password" class="inputstyle"/>
        </div>
        <input type="submit" name="sign in" value="submit"/>
        <a href="register" class="zcxy" target="_blank">sign up</a>
    </form>
</div>
</body>
</html>