<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="register">
    <form name="form2" id="regUser" accept-charset="utf-8"  action="/addregister" method="post">
        <ul class="reg_form" id="reg-ul">
            <div id="userCue" class="cue">fast sign up</div>
            <li>
                <label for="username"  class="input-tips2">username：</label>
                <div class="inputOuter2">
                    <input type="text" id="username" name="username" maxlength="16" class="inputstyle2"/>
                </div>
            </li>
            <li>
                <label for="password" class="input-tips2">password：</label>
                <div class="inputOuter2">
                    <input type="password" id="password"  name="password" maxlength="16" class="inputstyle2"/>
                </div>
            </li>
            <li>
                <label for="password2" class="input-tips2">confirm password：</label>
                <div class="inputOuter2">
                    <input type="password" id="password2" name="password2" maxlength="16" class="inputstyle2" />
                </div>
            </li>
            <li>
                <div class="inputArea">
                    <input type="submit" id="reg"  style="margin-top:10px;margin-left:85px;" class="button_blue" value="sign up"/>
                </div>
            </li><div class="cl"></div>
        </ul>
    </form>
</div>
</body>
</html>